@using MvcApp.Controllers
@using MvcApp.Properties
@using MvcApp.Views.Account

@helper StringEmail()
{
    @Resources.Property_EMail
}
@{
    ViewBag.Title = "電子メールの確認";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        @(StringEmail())をご確認いただき、ありがとうございます。
        @Html.AccountLoginLink(new { id = "loginLink" })してください。
    </p>
</div>
