@using Microsoft.AspNet.Identity
@using MvcApp.Views.Shared
@if (Request.IsAuthenticated)
{
    using (Html.AccountLogOffForm(new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.LinkManageIndex(User.Identity.GetUserName(), new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">ログオフ</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.LinkAccountRegister(new { id = "registerLink" })</li>
        <li>@Html.LinkAccountLogin(new { id = "loginLink" })</li>
    </ul>
}
